publish/assets
publish/*.js
**/publish/*.js
var_sk

node_modules/
sub-addons/sub-addon-1/publish/
sub-addons/sub-addon-2/publish/
sub-addons/sub-addon-3/publish/
sub-addons/sub-addon-4/publish/
*.js
*.js.map