// mat-card{
//     // min-width: 25%;
//     // padding-top: 2rem;
// }
// @media screen and (max-width: 1200px) {
//     .page-builder-container{
//         .row1{
//             flex-direction: column;
//             .sub-addon-container{
//                 margin-bottom: .5rem;
//             }
//         }
//     }
// }
// .page-builder-container{
//     .row1{
//         display: flex;

//         .sub-addon-container{
//             display: inline-grid;
//             flex: 1;
//             margin-right: .25rem;
//             // &:nth-child(2){
//                 // flex: 2;
//             // }


//         }

//     }
// }



// .table-content{
//     height: 200px;
//     overflow-y: auto;


// }

// :host ::ng-deep pep-list {
//     .table-header {
//         top: 0 !important;
//     }
// }



.flex-container {

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: DodgerBlue;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;

.flex-item {
    background-color: #f1f1f1;
    min-height: 250px;
    margin: 10px;
    flex: auto;
}
}

@media (max-width: 800px) {
.flex-container {
  flex-direction: column;
}
}
