.flex-container {

        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        border: 1px solid Black;
        width: 100%;
        margin-bottom: 1rem;
        flex-wrap: wrap;

    .flex-item {
        min-height: 250px;
        margin: 10px;
        flex: auto;
    }
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
